@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #666;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    color: #fff;
}

.screen {
    width: 50%;
    background-color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.controls {
    width: 50%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-range {
    width: 80%;
}

.controls .btn {
    background-color: transparent;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.controls .btn:focus {
    outline: 0;
}

.controls .fa-play {
    color: green;
}

.controls .fa-stop {
    color: red;
}

.controls .fa-pause {
    color: #fff;
}

.controls .timestamp {
    font-weight: bold;
}

@media (max-width:800px) {
    .screen,
    .controls {
        width: 90%;
    }
}