@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --success-color: #07f737;
    --error-color:#f70707;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    overflow: hidden;
}

.container{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

h2{
    text-align: center;
}

.form{
    padding: 30px 40px;
}

.form .form-control{
    margin-bottom: 20px;

    position: relative;
}

.form-control label{
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-control input{
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #f0f0f0;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.success input{
    border-color: var(--success-color);
}

.form-control.error input{
    border-color: var(--error-color);
}

.form-control small{
    color: var(--error-color);
    visibility: hidden;

    position: absolute;
    bottom: -15px;
    left: 0;
}

.form-control.error small{
    visibility: visible;
}

.form button{
    width: 100%;
    background-color: #3f63bf;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #3f63bf;
    display: block;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.form button:focus{
    outline: 0;
}